* {
    box-sizing: border-box;
}

body {
    background-color: #4B4E6D;
    margin:0px;
  }

  table {
      width: 85%;
      margin-left:15%;
      margin-top:40px;
      background-color: white;
  }
  td{
      text-align:center;
      Font-Family: 'Quattrocento Sans', Sans-Serif;
  }

  table, th, td {
      border: solid 1px #222222;
      border-collapse: collapse;
     
  }

  th, td {
      height: 35px;
      
  }

  th {
    background-color: #4B4E6D;
    Font-Family: 'Ovo', Serif;
    color: white;
  }

  @media only screen and (min-width: 640px) { */

    body {
        background-color: #4B4E6D;
        margin:0px;
      }
    
      table {
          width: 85%;
          margin-top:40px;
          margin-left:15%;
          background-color: white;
      }
      td{
          text-align:center;
          Font-Family: 'Quattrocento Sans', Sans-Serif;
      }
    
      table, th, td {
          border: solid 1px #222222;
          border-collapse: collapse;
         
      }
    
      th, td {
          height: 35px;
          min-width:100px;       
      }
    
      th {
        background-color: #4B4E6D;
        Font-Family: 'Ovo', Serif;
        color: white;
      }
    
}