*{
    box-sizing: border-box;
}

Mobile defaults */

.sidenav {
    /* z-index: 0; */
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222222;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:link {
    text-decoration: none;
    color: #868686;
}
.sidenav a:visited {
    text-decoration: none;
    color: #868686;
}

.sidenav a:hover {
    text-decoration: none;
    color: #95A3B3
}

.sidenav a:active {
    text-decoration: none;
    color: #95A3B3
}
.sidenav ul {
    list-style-type: none;
    Font-Family: 'Quattrocento Sans', Sans-Serif;
    padding:0px;
}
@media only screen and (min-width: 640px) {
/* 3 columns, 3/12 in % */

.sidenav {
/* z-index: 0; */
    height: 100%;
    width: 15%;
    position: fixed;
    top: 40px;
    left: 0;
    background-color: #222222;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline-block;
}
.sidenav a:link {
    text-decoration: none;
    color: #868686;
}
.sidenav a:visited {
    text-decoration: none;
    color: #868686;
}
.sidenav a:hover {
    text-decoration: none;
    color: #95A3B3
}
.sidenav a:active {
    text-decoration: none;
    color: #95A3B3
}
.sidenav ul {
    list-style-type: none;
    Font-Family: 'Quattrocento Sans', Sans-Serif;
    padding:0px;
}}