

@media only screen and (min-width: 640px) {
/* 3 columns, 3/12 in % */
.col-3 {
    width: 25%;
}
/* 4 columns, 4/12 in % */
.col-4 {
    width: 33.333333%;
}
/* 6 columns, 6/12 in % */
.col-6 {
    width: 50%;
}
/* 12 columns, 12/12 in % */
.col-12 {
    width: 100%;
}
.heading {
    text-align: center;
    Font-Family: 'Ovo', Serif;
    color: white;
    margin:5px;
}
.form-container {
    background-color: #4B4E6D;
    border-radius: 5px;
}
body {
    background-color: #222222;
}
.assignment-create{
    /* float:right; */
    margin-top:60px;
    margin-left:6.25%;
    margin-right:3.125%;
    border-radius:10px;
    background-color: #222222;
    padding:15px;
    /* height:550px; */
}
.assignment-display {
    /* float:left; */
    margin-top: 60px;
    margin-left:3.125%;
    margin-right:3.125%;
    background-color: #222222;
    border-radius:10px;
    padding:15px;
    /* height:550px; */
}
label {
    Font-Family: 'Quattrocento Sans', Sans-Serif;
    color: #FFFFFF;
    /* margin-left:5%; */
    width:50%;
    margin-top: 10px;
}
}
