
.class-option {
    display: flex;
}

.class-option label {
    margin-top:6px;
    margin-right:10px;
    display:block;
    width:75%;
    
}

.class-option input {
    margin:0px;
    width: 20px;
}

fieldset {
    width: 300px;
    margin:auto;
    color:white;
}

legend {
    margin:auto;
    color: white;
}


