/* .create-assignment {
    width: 100%;
    margin: auto;
}
.assignment-name {
    width: 100%;
    display:inline-flex;
}
.assignment-date{
    width:100%;
    display:inline-flex;
}

.assignment-name input {
    width: 90%;
    height: 30px;
    /* margin-right:5%;
    margin-left: 5%; */
    /* margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #95A3B3;
  }
  
  .assignment-name button {
    margin: 5px;
    margin-top: 15px;
    Font-Family: 'Quattrocento Sans', Sans-Serif;
    font-size: 14px;
    background-color: #84DCC6;
    border-radius: 5px;
  }
  
  .assignment-name label {
    Font-Family: 'Quattrocento Sans', Sans-Serif;
    color: #FFFFFF;
    /* margin-left:5%; */
    /* width:50%;
    margin-top: 10px;
  }

  .assignment-date input {
    width: 90%;
    height: 30px;
    /* margin-right:5%;
    margin-left: 5%; */
    /* margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #95A3B3;
  }
  
  .assignment-date button {
    margin: 5px;
    margin-top: 15px;
    Font-Family: 'Quattrocento Sans', Sans-Serif;
    font-size: 14px;
    background-color: #84DCC6;
    border-radius: 5px;
  }
  
  .assignment-date label {
    Font-Family: 'Quattrocento Sans', Sans-Serif;
    color: #FFFFFF;
    /* margin-left:5%; */
    /* width:50%;
    margin-top: 10px;
  }

  .create-assignment button {
    margin: 5px;
    margin-top: 15px;
    Font-Family: 'Quattrocento Sans', Sans-Serif;
    font-size: 14px;
    background-color: #84DCC6;
    border-radius: 5px;
    }

    .create-button {
      padding-top: 5px;
      text-align: center;
    } */