@media only screen and (max-width: 640px){
/* UNIVERSAL STYLES */
*{
    box-sizing:border-box;
}
body {
    background-color: #222222;
    width: 100%;
    height: 100%;
}
.row{
    max-width: 640px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    background-color: #222222;
}
/* Clearfix */
.row::before,
.row::after {
    display: table;
    content: '';
}
.row::after {
    clear: both;
}
.col-2, .col-3, .col-4, .col-6{
    width:100%;
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}
/* LANDING PAGE STYLES */
    /* loginForm.js STYLES  */
    .form-error-active{

    }
    .form-error-hidden{

    }
    .login-form{
        height: 400px;
        margin: 20px;
    }
    .login-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        margin-left:5%;
        margin-top: 10px;
    }
    .login-username{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .login-password{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .login-button-container{
        text-align: center;
    }
    .login-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #84DCC6;
        border-radius: 5px;
    }
    /* registerForm.js STYLES  */
    .signup-form{
        height: 100%;
        margin: 20px;
    }
    .signup-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        margin-left:5%;
        margin-top: 10px;
    }
    .signup-name{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .signup-username{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .signup-password{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .signup-confirm-password{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .signup-button-container{
        text-align: center;
    }
    .signup-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #84DCC6;
        border-radius: 5px;
    }
    /* landingPage.js STYLES  */
    .welcome-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    .login-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    .login-form-container{
        background-color: #4B4E6D;
        border-radius: 5px;
        height: 400px;
    }
    .signup-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    .signup-form-container{
        background-color: #4B4E6D;
        border-radius: 5px;
        height: 400px;
    }
/* NAVBAR STYLES */
    /* navbar.js STYLES */
    .nav-container{

    }
    .topnav{
        position: fixed;
        width: 100%;
        left:0;
    }
    .topnav-link-list{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: #95A3B3;
        height: 40px;
        overflow: hidden;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
    }
    .topnav-link{
        float: left;
        height: 100%;
        margin-right: 20px;
        padding: 10px;
        width: 100px;
        text-align: center;
    }
    .topnav-link a{
        display: block;
        text-align: left;
    }
    .topnav-link a:link{
        text-decoration: none;
        color: #222222;
    }
    .topnav-link a:visited{
        text-decoration: none;
        color: #222222;
    }
    .topnav-link a:hover{
        text-decoration: none;
        color: #868686;
    }
    .topnav-link a:active{
        text-decoration: none;
        color: #84DCC6;;
    }
/* DASHBOARD PAGE STYLES */
    /* classesDisplay.js STYLES */
    .class-list{

    }
    .class-list-item{

    }
    .class-name-link{

    }
    .delete-class-x{

    }
    .class-list-ul{

    }
    /* createClassForm.js STYLES */
    .create-class-form{

    }
    .create-class-name{

    }
    .create-class-save-button-container{

    }
    .create-class-save-button{

    }
    /* dashboard.js STYLES */
    .welcome{
        Font-Family: 'Ovo', Serif;
        text-align: center;
        color: white;
        margin-top:50px;
        margin-bottom:100px;
    }
    .get-started-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-bottom:10px;
    }
    .create-class-container{
        background-color: #95A3B3;
        border-radius: 5px;  
        margin-bottom:10px; 
    }
    .view-classes-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-bottom:10px; 
    }
    .set-up-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-bottom:10px;
    }
    .go{
        width:100%;
        text-align:center;
        font-size: 60px;
        color: #4B4E6D;
        margin-top: 85px;
        margin-bottom: 20px;
    }
    .action-heading{
        color: white;
        margin-top:35px;
        text-align:center;
        Font-Family: 'Ovo', Serif;
    }
    .get-started-popup-hidden{
        display: none;
    }
    .create-class-popup-hidden{
        display: none;
    }
    .view-classes-popup-hidden{
        display: none;
    }
    .edit-class-popup-hidden{
        display: none;
    }
    .gradebook-setup-popup-hidden{
        display: none;
    }
    .get-started-popup-active{
      
    }
    .create-class-popup-active{
        
    }
    .view-classes-popup-active{

    }
    .edit-class-popup-active{

    }
    .gradebook-setup-popup-active{
        
    }
    /* editClassForm.js STYLES */
    .edit-class-form{

    }
    .edit-class-name{

    }
    .edit-class-save-button-container{

    }
    .edit-class-save-button{

    }
    /* gettingStarted.js STYLES */
    /* gradebookSetupForm.js STYLES */
    .gradebook-set-up-form{

    }
    .value-input{

    }
    .class-setup-button-container{

    }
    .class-setup-button{

    }
    /* studentList.js STYLES */
    .student-checkbox{

    }
    .student-checkbox-container{

    }
    .student-checkbox-legend{

    }
/* GRADES PAGE STYLES */
    /* classSidebar.js STYLES */
    .sidenav{

    }
    .sidenav-classes{

    }
    /* gradeDisplay.js STYLES */
    .grades-table{

    }
    tbody{

    }
    tr{

    }
    th{

    }
    td{

    }
    /* gradesPage.js STYLES */
    .grade-display{

    }
/* ASSIGNMENT PAGE STYLES */
    /* assignmentPage.js STYLES */
    .option-container{

    }
    .assignment-create{

    }
    .assignment-display{

    }
    .assignment-edit{

    }
    .assignment-option-heading{

    }
    /* Assignment-Display STYLES */
        /* assignmentDisplay.js STYLES */
        .assignment-list{

        }
        .assignment-list-item{

        }
        .assignment-name-link{

        }
        .delete-assignment-x{

        }
        .assignment-list-ul{

        }
        /*  assignmentFilters.js STYLES */
        .assignment-filters{

        }
        .assignment-search-filter{

        }
        /* classDropdown.js STYLES */
        .class-select-container{

        }
        .class-select-label{

        }
        .class-select{

        }
        .class-option{

        }
        /* editAssignmentForm.js STYLES */
        .edit-assignment-form{

        }
        .assignment-name-edit{

        }
        .assignment-date-edit{

        }
        .assignment-edit-save-button-container{

        }
        .assignment-edit-save-button{

        }
    /* Create-Assignment-Form STYLES */
        /* categoryList.js STYLES */
        .category-select{

        }
        /* classSelect.js STYLES */
        .class-checkbox-list-item{

        }
        .class-checkbox-container{

        }
        .class-checkbox-legend{

        }
        /* createAssignmentForm.js STYLES */
        .create-assignment-form{

        }
        .assignment-name-create{

        }
        .assignment-date-create{

        }
        .assignment-create-save-button-container{

        }
        .assignment-create-save-button{

        }
    }