@media only screen and (min-width: 640px){
/* UNIVERSAL STYLES */
*{
    box-sizing:border-box;
}
body {
    background-color: #222222;
    width: 100%;
    height: 100%;
}
.row{
    max-width: 1260px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    background-color: #222222;
}
/* Clearfix */
.row::before,
.row::after {
    display: table;
    content: '';
}
.row::after {
    clear: both;
}
.col-2, .col-3, .col-4, .col-6{
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}
/* 2 columns - each 1/2 a page */
.col-2{
    width:50%;
}
/* 3 columns -each 1/3 a page */
.col-3{
    width: 33.333333%;
}
/* 4 columns - each 1/4 page*/
.col-4{
    width: 25%;
}
/* 6 columns - each 1/6 page */
.col-6{
    width: 16.666667%;
}
/* LANDING PAGE STYLES */
    /* logoutAlert.js STYLES */
    .warning-box{
        display:none;
        margin-top: 10%;
        margin-left: 43%;
        position: absolute;
        background-color: #84DCC6;
        width: 200px;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        color: #222222;
    }
    /* loginForm.js STYLES  */
    .form-error-active{

    }
    .form-error-hidden{

    }
    .login-form{
        height: 400px;
        margin: 20px;
    }
    .login-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        margin-left:5%;
        margin-top: 10px;
    }
    .login-username{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .login-password{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .login-button-container{
        text-align: center;
    }
    .login-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #84DCC6;
        border-radius: 5px;
    }
    /* registerForm.js STYLES  */
    .signup-form{
        height: 100%;
        margin: 20px;
    }
    .signup-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        margin-left:5%;
        margin-top: 10px;
    }
    .signup-name{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .signup-username{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .signup-password{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .signup-confirm-password{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .signup-button-container{
        text-align: center;
    }
    .signup-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #84DCC6;
        border-radius: 5px;
    }
    /* landingPage.js STYLES  */
    .welcome-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    .login-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    .login-form-container{
        background-color: #4B4E6D;
        border-radius: 5px;
        height: 400px;
    }
    .signup-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    .signup-form-container{
        background-color: #4B4E6D;
        border-radius: 5px;
        height: 400px;
    }
/* NAVBAR STYLES */
    /* navbar.js STYLES */
    .nav-container{

    }
    .topnav{
        position: fixed;
        width: 100%;
        left:0;
    }
    .topnav-link-list{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: #95A3B3;
        height: 40px;
        overflow: hidden;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
    }
    .topnav-link{
        float: left;
        height: 100%;
        margin-right: 20px;
        padding: 10px;
        width: 100px;
        text-align: center;
    }
    .topnav-link a{
        display: block;
        text-align: left;
    }
    .topnav-link a:link{
        text-decoration: none;
        color: #222222;
    }
    .topnav-link a:visited{
        text-decoration: none;
        color: #222222;
    }
    .topnav-link a:hover{
        text-decoration: none;
        color: #868686;
    }
    .topnav-link a:active{
        text-decoration: none;
        color: #84DCC6;;
    }
/* DASHBOARD PAGE STYLES */
    /* classesDisplay.js STYLES */
    .class-view-edit-container{
        display:inline-flex;
        width:100%;
    }
    .class-list{
        background-color:#95A3B3;
        color: #222222;
        border-radius: 10px;
        border: 1px solid #222222;
        padding:5px;
        width: 75%;
        margin-left:6.25%;
    }
    .class-list-item{

    }
    .class-name-link{
        text-decoration: none;
        font-size: 15px;
        color: #222222;
        display: inline-block;
    }
    .delete-class-x{
        color:white;
        float:right;
        padding: 5px;
    }
    .class-list-ul{
        list-style: none;
        margin: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 0px;
        width: 40%;
    }
    .class-list a:link {
        text-decoration: none;
        color: #222222;
    }
    .class-list a:visited {
        text-decoration: none;
        color:  #222222;
    }
    
    .class-list a:hover {
        text-decoration: none;
        color: white;
    }
    
    .class-list a:active {
        text-decoration: none;
        color:  #222222;
    }
    /* createClassForm.js STYLES */
    .create-class-form{

    }
    .create-class-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        margin-left:5%;
        margin-top: 10px;
    }
    .create-class-name{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .create-class-save-button-container{
        text-align: center;
    }
    .create-class-save-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #84DCC6;
        border-radius: 5px;
    }
    /* dashboard.js STYLES */
    .welcome{
        Font-Family: 'Ovo', Serif;
        text-align: center;
        color: white;
        margin-top:50px;
        margin-bottom:100px;
    }
    .get-started-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-left:6.6666668%;
        margin-right:3.33333334%;
    }
    .create-class-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-left:3.33333334%;
        margin-right:3.33333334%;
    }
    .view-classes-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-left:3.33333334%;
        margin-right:3.33333334%;
    }
    .set-up-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-left:3.33333334%;
        margin-right:3.33333334%;
    }
    .go{
        width:100%;
        text-align:center;
        font-size: 60px;
        color: #4B4E6D;
        margin-top: 20px;
    }
    .action-heading{
        color: white;
        font-size:28px;
        text-align:center;
        margin-top:0px;
        Font-Family: 'Ovo', Serif;
    }
    .get-started-popup-hidden{
        display: none;
    }
    .create-class-popup-hidden{
        display: none;
    }
    .view-classes-popup-hidden{
        display: none;
    }
    .edit-class-popup-hidden{
        display: none;
    }
    .gradebook-setup-popup-hidden{
        display: none;
    }
    .get-started-popup-active{

    }
    .create-class-popup-active{
        position: absolute;
        background-color: #84DCC6;
        border-radius: 10px;
        margin-left: 23%;
        margin-right: 23%;
        top: 100px;
    }
    .view-classes-popup-active{
        position: absolute;
        background-color: #84DCC6;
        margin-left: 22.75%;
        border-radius: 10px;
        top: 100px;
        padding: 15px;
    }
    .edit-class-popup-active{
        width:60%;
    }
    .gradebook-setup-popup-active{
        position: absolute;
        background-color: #84DCC6;
        margin: auto;
        border-radius: 10px;
        top: 100px;
    }
    /* editClassForm.js STYLES */
    .edit-class-form{
        width: 100%;
        float: right;
    }
    .edit-class-form h2{
        text-align: center;
    }
    .edit-class-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        /* margin-left:5%;
        margin-top: 10px; */
    }
    .edit-class-form input{
        width: 90%;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .edit-class-name{
        display:inline-flex;
        width:100%;
    }
    .edit-class-name label{
        margin-top: 10px;
        margin-right: 5px;
        color: #222222;
    }
    .edit-class-name input{
        width: 75%;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .edit-class-save-button-container{
        text-align: center;
    }
    .edit-class-save-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #95A3B3;
        border-radius: 5px;
    }
    /* gettingStarted.js STYLES */
    /* gradebookSetupForm.js STYLES */
    .gradebook-set-up-form{

    }
    .value-input{

    }
    .class-setup-button-container{

    }
    .class-setup-button{

    }
    /* studentList.js STYLES */
    .student-checkbox{
        display: inline-flex;
        width: 50%;
        padding:10px;
    }
    .student-checkbox input {
        width:20px;
        float:right;
        margin:0px;
    }
    .student-checkbox label{
        margin-top: 6px;
        width:60%;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #222222;
    }
    .student-checkbox-container{

    }
    .student-checkbox-legend{

    }
/* GRADES PAGE STYLES */
    /* classSidebar.js STYLES */
    .sidenav{
        height: 100%;
        width: 15%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #222222;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .sidenav-classes{

    }
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }
    .sidenav a:link {
        text-decoration: none;
        color: #868686;
    }
    .sidenav a:visited {
        text-decoration: none;
        color: #868686;
    }
    
    .sidenav a:hover {
        text-decoration: none;
        color: #95A3B3
    }
    
    .sidenav a:active {
        text-decoration: none;
        color: #95A3B3
    }
    .sidenav ul {
        list-style-type: none;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        padding:0px;
    }
    /* gradeDisplay.js STYLES */
    .grades-table{
        width: 85%;
        margin-left:15%;
        margin-top:40px;
        background-color: white;
        border: solid 1px #222222;
      border-collapse: collapse;
    }
    tbody{

    }
    tr{

    }
    th{
        border: solid 1px #222222;
        border-collapse: collapse;
        height: 35px;
        background-color: #4B4E6D;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    td{
        border: solid 1px #222222;
        border-collapse: collapse;
        height: 35px;
    }
    /* gradesPage.js STYLES */
    .grade-display{

    }
/* ASSIGNMENT PAGE STYLES */
    /* assignmentPage.js STYLES */
    .option-container{
        background-color: #4B4E6D;
        border-radius: 5px;
    }
    .assignment-create{
        float: left;
        margin-top: 60px;
        margin-left: 6.25%;
        margin-right: 6.25%;
        border-radius: 10px;
        background-color: #222222;
        padding: 15px;
    }
    .assignment-create label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        width:50%;
        margin-top: 10px;
    }
    .assignment-display{
        float: right;
        margin-top: 60px;
        margin-left: 6.25%;
        margin-right: 6.25%;
        border-radius: 10px;
        background-color: #222222;
        padding: 15px;
    }
    .assignment-edit-active{
        margin-top: 60px;
        margin-left: 33%;
        margin-right: 33%;
        border-radius: 10px;
        background-color: #84DCC6;
        padding: 15px;
    }
    .assignment-edit label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        width:50%;
        margin-top: 10px;
    }
    .assignment-edit-hidden{
        display: none;
    }
    .assignment-option-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
        margin:5px;
    }
    /* Assignment-Display STYLES */
        /* assignmentDisplay.js STYLES */
        .assignment-list{
            background-color:#95A3B3;
            color: #222222;
            border-radius: 10px;
            border: 1px solid #222222;
            padding:5px;
        }
        .assignment-list-item{

        }
        .assignment-name-link{
            text-decoration: none;
            font-size: 15px;
            color: #222222;
            display: inline-block;
        }
        .delete-assignment-x{
            color:white;
            float:right;
            padding: 5px;
        }
        .assignment-list a:link {
            text-decoration: none;
            color: #222222;
        }
        .assignment-list a:visited {
            text-decoration: none;
            color:  #222222;
        }
        
        .assignment-list a:hover {
            text-decoration: none;
            color: white;
        }
        
        .assignment-list a:active {
            text-decoration: none;
            color:  #222222;
        }
        .assignment-list-ul{
            list-style: none;
            margin:0px;
            padding-left:0px;
        }
        /*  assignmentFilters.js STYLES */
        .assignment-filters{

        }
        .assignment-search-filter{

        }
        /* classDropdown.js STYLES */
        .class-select-container{

        }
        .class-select-label{

        }
        .class-select{

        }
        .class-option{

        }
        /* editAssignmentForm.js STYLES */
        .edit-assignment-form{

        }
        .assignment-name-edit{

        }
        .assignment-date-edit{

        }
        .assignment-edit-save-button-container{

        }
        .assignment-edit-save-button{

        }
    /* Create-Assignment-Form STYLES */
        /* categoryList.js STYLES */
        .category-select{
            margin-top: 15px;
            margin-bottom: 15px;
            width: 90%;
            height: 30px;
        }
        /* classSelect.js STYLES */
        .class-checkbox-list-item{
            display: flex;
        }
        .class-checkbox-container{
            width: 90%;
            margin:auto;
            color:white;
        }
        .class-checkbox-legend{
            margin:auto;
            color: white;
        }
        /* createAssignmentForm.js STYLES */
        .create-assignment-form{
            width: 100%;
            margin: auto;
        }
        .assignment-name-create{
            width: 100%;
            display:inline-flex;
        }
        .assignmente-name-create input{
            width: 90%;
            height: 30px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: #95A3B3;
        }
        .assignment-name-create label{
            Font-Family: 'Quattrocento Sans', Sans-Serif;
            color: #FFFFFF;
            width:50%;
            margin-top: 10px;
        }
        .assignment-date-create{
            width:100%;
            display:inline-flex;
        }
        .assignmente-date-create input{
            width: 90%;
            height: 30px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: #95A3B3;
        }
        .assignment-date-create label{
            Font-Family: 'Quattrocento Sans', Sans-Serif;
            color: #FFFFFF;
            width:50%;
            margin-top: 10px;
        }
        .assignment-create-save-button-container{
            padding-top: 5px;
            text-align: center;
        }
        .assignment-create-save-button{
            margin: 5px;
            margin-top: 15px;
            Font-Family: 'Quattrocento Sans', Sans-Serif;
            font-size: 14px;
            background-color: #84DCC6;
            border-radius: 5px;
        }
    }




