@media only screen 
  and (min-width: 481px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
/* UNIVERSAL STYLES */
*{
    box-sizing:border-box;
}
body {
    background-color: #222222;
    width: 100%;
    height: 100%;
}
.row{
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    background-color: #222222;
}
/* Clearfix */
.row::before,
.row::after {
    display: table;
    content: '';
}
.row::after {
    clear: both;
}
.col-2, .col-3, .col-4, .col-6{
    width:100%;
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}
/* LANDING PAGE STYLES */
    /* logoutAlert.js STYLES */
    .warning-box{
        display:none;
        margin-top: 10%;
        margin-left: 43%;
        position: absolute;
        background-color: #84DCC6;
        width: 200px;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        color: #222222;
    }
    /* loginForm.js STYLES  */
    .form-error{
        color:#84DCC6;
        float: right;
        text-align:center;
        font-size: 14px;
        display: inline-flex;
    }
    .login-form{
        margin: 20px;
    }
    .login-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        margin-left:5%;
        margin-top: 10px;
    }
    .login-input input{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }

    .login-button-container{
        text-align: center;
    }
    .login-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #84DCC6;
        border-radius: 5px;
    }
    /* registerForm.js STYLES  */
    .signup-form{
        height: 100%;
        margin: 20px;
    }
    .signup-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        margin-left:5%;
        margin-top: 10px;
    }
    .signup-input input{
        width: 90%;
        height: 30px;
        margin-right:5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .signup-button-container{
        text-align: center;
    }
    .signup-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #84DCC6;
        border-radius: 5px;
    }
    /* landingPage.js STYLES  */
    .welcome-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    .login-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    .login-form-container{
        background-color: #4B4E6D;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .signup-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    .signup-form-container{
        background-color: #4B4E6D;
        border-radius: 10px;
    }
/* NAVBAR STYLES */
    /* navbar.js STYLES */
    .topnav{
        position: fixed;
        width: 100%;
        left:0;
    }
    .topnav-link-list{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: #95A3B3;
        height: 40px;
        overflow: hidden;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
    }
    .topnav-link{
        float: left;
        height: 100%;
        margin-right: 20px;
        padding: 10px;
        width: 100px;
        text-align: center;
    }
    .topnav-link-logout{
        float: right;
        height: 100%;
        margin-right: 20px;
        padding: 10px;
        width: 100px;
        text-align: center;
    }
    .topnav-link a{
        display: block;
        text-align: left;
    }
    .topnav-link a:link{
        text-decoration: none;
        color: #222222;
    }
    .topnav-link a:visited{
        text-decoration: none;
        color: #222222;
    }
    .topnav-link a:hover{
        text-decoration: none;
        color: #868686;
    }
    .topnav-link a:active{
        text-decoration: none;
        color: #84DCC6;;
    }
    .topnav-link-logout a{
        display: block;
        text-align: left;
    }
    .topnav-link-logout a:link{
        text-decoration: none;
        color: #222222;
    }
    .topnav-link-logout a:visited{
        text-decoration: none;
        color: #222222;
    }
    .topnav-link-logout a:hover{
        text-decoration: none;
        color: #868686;
    }
    .topnav-link-logout a:active{
        text-decoration: none;
        color: #84DCC6;;
    }
/* DASHBOARD PAGE STYLES */
    /* classesDisplay.js STYLES */
    .class-view-edit-container{
        display:inline-flex;
        width:100%;
    }
    .class-list{
        background-color:#95A3B3;
        color: #222222;
        border-radius: 10px;
        border: 1px solid #222222;
        padding:5px;
        width: 75%;
        margin-left:6.25%;
    }
    .class-name-link{
        text-decoration: none;
        font-size: 15px;
        color: #222222;
        display: inline-block;
    }
    .delete-class-x{
        color:white;
        float:right;
        padding: 5px;
    }
    .class-list-ul{
        list-style: none;
        margin: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 0px;
        margin-left: 10%;
        width: 100%;
    }
    .class-list a:link {
        text-decoration: none;
        color: #222222;
    }
    .class-list a:visited {
        text-decoration: none;
        color:  #222222;
    }
    
    .class-list a:hover {
        text-decoration: none;
        color: white;
    }
    
    .class-list a:active {
        text-decoration: none;
        color:  #222222;
    }
    /* createClassForm.js STYLES */
    .create-class-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #222222;
        margin-left: 5%;
        margin-top: 10px;
    }
    .create-class-name{
        width: 75%;
        height: 30px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
    }
    .create-class-save-button-container{
        text-align: center;
    }
    .create-class-save-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        color:white;
        background-color: #4B4E6D;
        border-radius: 5px;
    }
    /* dashboard.js STYLES */
    .welcome{
        Font-Family: 'Ovo', Serif;
        text-align: center;
        color: white;
        margin-top:50px;
        margin-bottom:100px;
    }
    .get-started-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-left:6.6666668%;
        margin-right:3.33333334%;
    }
    .create-class-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-left:3.33333334%;
        margin-right:3.33333334%;
    }
    .view-classes-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-left:3.33333334%;
        margin-right:3.33333334%;
    }
    .set-up-container{
        background-color: #95A3B3;
        border-radius: 5px;
        margin-left:3.33333334%;
        margin-right:3.33333334%;
    }
    .option-box{
        height: 200px;
        width: 200px;
        padding-top: 50px;
        margin-left: 14%;
        margin-bottom: 10%;
        box-shadow: 5px 5px 10px;
    }
    .go{
        width:100%;
        text-align:center;
        font-size: 60px;
        color: #4B4E6D;
    }
    .action-heading{
        color: white;
        font-size:28px;
        text-align:center;
        margin:0px;
        Font-Family: 'Ovo', Serif;
    }
    .get-started-popup-hidden{
        display: none;
    }
    .create-class-popup-hidden{
        display: none;
    }
    .view-classes-popup-hidden{
        display: none;
    }
    .edit-class-popup-hidden{
        display: none;
    }
    .gradebook-setup-popup-hidden{
        display: none;
    }
    .get-started-popup-active{
        position: absolute;
        background-color: #84DCC6;
        border-radius: 10px;
        margin-right: 8%;
        top: 100px;
        padding: 20px;
        width: auto;
        box-shadow: 5px 5px 10px;
    }
    .getting-started{
        width: 100%;
    }
    .current-lesson-container{
        max-width: 75%;
        margin: auto;
    }
    .current-lesson-container p{
        height: 200px;
        margin-bottom: 20px;
        width:100%;
    }
    .current-lesson img {
        height: 100%
    } 
    .thumbnail {
        display: inline-block;
        cursor: pointer;
        height: 60px;
    }
    .thumbnail p{
        height: 60px;
        max-width: 100%;
    }
    .create-class-popup-active{
        position: absolute;
        background-color: #84DCC6;
        border-radius: 10px;
        top: 100px;
        padding: 20px;
        width: 600px;
        box-shadow: 5px 5px 10px;
    }
    .view-classes-popup-active{
        position: absolute;
        background-color: #84DCC6;
        width: 600px;
        border-radius: 10px;
        padding: 15px;
        margin-left: 10%;
        box-shadow: 5px 5px 10px;
    }
    .edit-class-popup-active{
        position: absolute;
        background-color: #6DB5A3;
        width: 570px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px;
    }
    .gradebook-setup-popup-active{
        position: absolute;
        background-color: #84DCC6;
        margin-right: 3%;
        width: auto;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 5px 10px;
    }
    .popup-heading{
        color: #222222;
        text-align: center;
        Font-Family: 'Ovo', Serif;
    }
    .heading-close-container{
        display: inline-flex;
    }
    .setup-instructions{
        text-align:center;
    }
    /* editClassForm.js STYLES */
    .edit-class-form{
        width: 100%;
        float: right;
    }
    .edit-class-form h2{
        text-align: center;
    }
    .edit-class-form label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #222222;
    }
    .edit-class-input{
        width: 100%;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #95A3B3;
        font-size: 15px;
    }
    .edit-class-name{
        display:inline-flex;
        width:100%;
    }
    .edit-class-name label{
        margin-top: 10px;
        margin-right: 5px;
        color: #222222;
    }
    .edit-class-save-button-container{
        text-align: center;
    }
    .edit-class-save-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #95A3B3;
        border-radius: 5px;
    }
    /* gettingStarted.js STYLES */
    .lesson {
        border-radius: 10px;
        background-color: #4B4E6D;
        padding:10px;
        margin: 10px;
    }
    .lesson-title{
        color: white;
    }
    .get-started-heading{
        text-align: center;
    }
    .lesson-steps{
        color: white;
    }
    /* gradebookSetupForm.js STYLES */
    .gradebook-setup-form{
        padding-top: 25px;
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
    }
    .gradebook-setup-form label{
        margin-top: 10px;
        margin-right: 20px;
        color:white;
        margin-left: 5%;
        float: left;
    }
    .input-container{
        width: 100%;
        display: inline-block;
        background-color: #4B4E6D;
        margin: 5px;
        border-radius: 10px;
        padding: 5px;
    }
    .value-input{
        width: 50%;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5%;
        border-radius: 5px;
        text-align:center;
        background-color: #95A3B3;
        font-size: 15px;
        float:right;
    }
    .class-setup-button-container{
        text-align:center;
    }
    .class-setup-button{
        margin: 5px;
        margin-top: 15px;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        font-size: 14px;
        background-color: #95A3B3;
        border-radius: 5px;
    }
    /* studentList.js STYLES */
    .student-checkbox{
        display: inline-flex;
        padding: 10px;
        float: right;
        margin-right:5%;
    }
    .student-checkbox input {
        width:20px;
        float:right;
        margin:0px;
    }
    .student-checkbox label{
        margin-top: 6px;
        width:60%;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #222222;
    }
    .student-checkbox-container{
        background-color: #95A3B3;
        margin:5px;
    }
    .checkboxes-container{
        background-color: #95A3B3;
        width: 60%;
        margin: auto;
    }
    .checkboxes-container label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #222222;
        margin-left: 5%;
    }
    .student-checkbox-legend{
        text-align:center;
        background-color: #4B4E6D;
        color:white;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 15px;
    }
/* GRADES PAGE STYLES */
    /* classSidebar.js STYLES */
    .sidenav{
        height: 100%;
        width: 15%;
        position: fixed;
        top: 40px;
        left: 0;
        background-color: #4B4E6D;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color:white;
        display: block;
    }
    .sidenav a:link {
        text-decoration: none;
        color: #868686;
    }
    .sidenav a:visited {
        text-decoration: none;
        color: #868686;
    }
    
    .sidenav a:hover {
        text-decoration: none;
        color: #95A3B3
    }
    
    .sidenav a:active {
        text-decoration: none;
        color: #95A3B3
    }
    .sidenav ul {
        list-style-type: none;
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        padding:0px;
    }
    /* gradeDisplay.js STYLES */
    .grades-table{
        width: 85%;
        margin-left:15%;
        margin-top:40px;
        background-color: white;
        border: solid 1px #222222;
        border-collapse: collapse;
        text-align: center;
    }
    th{
        border: solid 1px #222222;
        border-collapse: collapse;
        height: 35px;
        background-color: #4B4E6D;
        Font-Family: 'Ovo', Serif;
        color: white;
    }
    td{
        border: solid 1px #222222;
        border-collapse: collapse;
        height: 35px;
    }
/* ASSIGNMENT PAGE STYLES */
    /* assignmentPage.js STYLES */
    .option-container{
        background-color: #4B4E6D;
        border-radius: 5px;
    }
    .assignment-create{
        float: left;
        margin-top: 60px;
        border-radius: 10px;
        background-color: #222222;
        padding: 15px;
        width: 700px;
        margin-left: 3%;
    }
    .assignment-create-label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #FFFFFF;
        width:50%;
        margin-top: 10px;
    }
    .assignment-display{
        float: right;
        margin-top: 5px;
        border-radius: 10px;
        background-color: #222222;
        padding: 15px;
        width: 700px;
        margin-right: 3%;
    }
    .assignment-edit-active{
        margin-top: 120px;
        margin-left: 10%;
        width: 600px;
        border-radius: 10px;
        background-color: #84DCC6;
        padding: 15px;
        position: absolute;
        box-shadow: 5px 5px 10px;
    }
    .assignment-edit label{
        Font-Family: 'Quattrocento Sans', Sans-Serif;
        color: #222222;
        width:50%;
        margin-top: 10px;
    }
    .assignment-edit-hidden{
        display: none;
    }
    .assignment-option-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: white;
        margin:5px;
    }
    .assignment-edit-heading{
        text-align: center;
        Font-Family: 'Ovo', Serif;
        color: #222222;
        margin:5px;
    }
    /* Assignment-Display STYLES */
        /* assignmentDisplay.js STYLES */
        .assignment-list{
            background-color:#95A3B3;
            color: #222222;
            border-radius: 10px;
            border: 1px solid #222222;
            padding:5px;
        }
        .assignment-name-link{
            text-decoration: none;
            font-size: 15px;
            color: #222222;
            display: inline-block;
        }
        .delete-assignment-x{
            color:white;
            float:right;
            padding: 5px;
        }
        .assignment-list-ul{
            list-style: none;
            margin:0px;
            padding-left:0px;
        }
        /*  assignmentFilters.js STYLES */
        .assignment-filters-label{
            Font-Family: 'Quattrocento Sans', Sans-Serif;
            color: #FFFFFF;
            margin-top: 10px;
        }
        .assignment-search-filter{
            float: right;
            width: 75%;
            height: 30px;
            border: white;
            border-radius: 5px;
        }
        .assignment-filters{
            padding: 5px;
        }
        /* classDropdown.js STYLES */
        .class-select-container{
           display: inline-block;
           margin-top: 10px;
           width: 100%
        }
        .class-select-label{
            Font-Family: 'Quattrocento Sans', Sans-Serif;
            color: #FFFFFF;
            margin-top: 10px;
        }
        .class-select{
            margin-bottom: 15px;
            margin-left: 5%;
            width: 75%;
            float: right;
            height: 30px;
            font-size: 14px;
            background-color: white;
        }
        /* editAssignmentForm.js STYLES */
        .assignment-edit-label{
            Font-Family: 'Quattrocento Sans', Sans-Serif;
            color: #222222;
            margin-top: 10px;
        }
        .assignment-edit-input{
            width: 90%;
            height: 30px;
            margin-right:5%;
            margin-left: 5%;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: #95A3B3;
        }
        .edit-class-checkbox-container{
            width: 90%;
            margin-left: 5%;
            margin-bottom: 5px;
            color: #222222;
            display: inline-flex;
            background-color: #95A3B3;
        }
        .edit-class-checkbox-legend{
            margin: auto;
            color: #222222;
            background-color: #95A3B3;
            border-radius: 10px;
        }
        .edit-class-checkbox-label{
            width:80%
        }
        .assignment-edit-save-button-container{
            text-align:center;
        }
        .assignment-edit-save-button{
            margin: 5px;
            margin-top: 15px;
            Font-Family: 'Quattrocento Sans', Sans-Serif;
            font-size: 14px;
            background-color: #95A3B3;
            border-radius: 5px;
        }
    /* Create-Assignment-Form STYLES */
        /* categoryList.js STYLES */
        .category-select{
            margin-top: 5px;
            margin-bottom: 15px;
            margin-left: 5%;
            width: 90%;
            height: 30px;
            font-size: 14px;
            background-color: white;
        }
        /* classSelect.js STYLES */
        .class-checkbox-list-item{
            display: flex;
        }
        .class-checkbox-container{
            width: 90%;
            margin-left:5%;
            color:white;
            display: inline-flex;
        }
        .class-checkbox-legend{
            margin:auto;
            color: white;
        }
        /* createAssignmentForm.js STYLES */
        .create-assignment-form{
            width: 100%;
            margin: auto;
            padding:5px;
        }
        .assignment-name-create{
            width: 90%;
            height: 30px;
            margin-right:5%;
            margin-left: 5%;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: #95A3B3;
        }
        .assignment-date-create{
            width: 90%;
            height: 30px;
            margin-right:5%;
            margin-left: 5%;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: #95A3B3;
        }
        .class-checkbox-label{
            Font-Family: 'Quattrocento Sans', Sans-Serif;
            color: #FFFFFF;
            width:80%;
        }
        .assignment-create-save-button-container{
            padding-top: 5px;
            text-align: center;
        }
        .assignment-create-save-button{
            margin: 5px;
            margin-top: 15px;
            Font-Family: 'Quattrocento Sans', Sans-Serif;
            font-size: 14px;
            background-color: #84DCC6;
            border-radius: 5px;
        }
    }




