.class-filter {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        height: 30px;
    }
ul {
    list-style: none;
    padding:5%;
    margin:0px;
}

li {
    color:white;
    height: 30px;
}

